body {
  font-size: 12px;
  line-height: 1.5em;
  padding-left:7em;
  padding-right:7em;
  padding-top: 3em;
  width: 59.2825em;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separate {
  display: flex;
  justify-content: space-between;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  display: inline-block;
}

.title {
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

li:not(:last-child) { 
  margin-bottom: 7px;  
}



.titleRow {
  margin-bottom: 0.5em;
}